

html,body{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style:none;
}



#title{
    background-color: #00aeef;
    color: #FFF;
    margin: 0;
    line-height: 80px;
    font-size: 50px;
}

/*-----------------导航栏样式-----------------*/
.top-nav{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.nav-list{
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-around;*/
}
.nav-item{
    width: 33.333%;
    height: 50px;
    /*padding: 5px 50px;*/
    display: inline-block;
    font-size: 20px;
    /*line-height: 2.5;*/
    color: #FFF;
    text-align: center;
}
.top-nav .nav-list .nav-item .icon{
    display: inline-block;
    height: 50px;
    /*line-height: 40px;*/
    width: 50px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
.nav-item:hover{
    cursor: pointer;
    background:  rgba(0,0,0,0.45);
}
.all-points .icon{
    background: url("../images/viewpoint-white.png");
}
.route-recommend .icon {
    background: url(../images/route-white.png);
}
.print-map .icon {
    background: url(../images/map-white.png);
}
.all-points.selected .icon{
    background: url("../images/viewpoint-color.png");
}
.route-recommend.selected .icon {
    background: url(../images/route-color.png);
}
.print-map.selected .icon {
    background: url(../images/map-color.png);
}
.all-points{
    border-bottom: 0px solid #D4237A;
}
.route-recommend{
    border-bottom: 0px solid #F4EA2A;
    transition: 250ms all;
}
.print-map{
   border-bottom: 0px solid #1296DB;
}
.nav-item:hover{
    border-bottom-width: 5px;
    transition: 250ms all;
    font-size: 22px;
}
.all-points.selected{
    color: #D4237A;
    border-bottom: 5px solid #D4237A;
}
.route-recommend.selected{
    color: #F4EA2A;
    border-bottom: 5px solid #F4EA2A;
}
.print-map.selected{
   color: #1296DB;
   border-bottom: 5px solid #1296DB;
}

/* ----------------底部模块样式----------------*/
.item-box{
    opacity: 0;
    transition: 300ms all;
    display: none;
}
.item-box.selected{
    opacity: 1;
    transition: 300ms all;
    display: block;
}