

html,body{
    padding: 0;
    margin: 0;
    background: #000 url(../images/big-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    widows: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style:none;
}



#title{
    background-color: #00aeef;
    color: #FFF;
    margin: 0;
    line-height: 80px;
    font-size: 50px;
}

/*-----------------导航栏样式-----------------*/
.top-nav{
    z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
}
.nav-list{
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-around;*/
}
.nav-item{
    width: 33.333%;
    height: 50px;
    /*padding: 5px 50px;*/
    display: inline-block;
    font-size: 20px;
    /*line-height: 2.5;*/
    color: #FFF;
    text-align: center;
}
.top-nav .nav-list .nav-item .icon{
    display: inline-block;
    height: 50px;
    /*line-height: 40px;*/
    width: 50px;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}
.nav-item:hover{
    cursor: pointer;
    /* background:  rgba(0,0,0,0.65); */
}
.all-points .icon{
    background: url("../images/viewpoint-white.png");
}
.route-recommend .icon {
    background: url(../images/route-white.png);
}
.print-map .icon {
    background: url(../images/map-white.png);
}
.all-points.selected .icon{
    background: url("../images/viewpoint-color.png");
}
.route-recommend.selected .icon {
    background: url(../images/route-color.png);
}
.print-map.selected .icon {
    background: url(../images/map-color.png);
}
.all-points{
    border-bottom: 0px solid #D4237A;
}
.route-recommend{
    border-bottom: 0px solid #F4EA2A;
    transition: 250ms all;
}
.print-map{
   border-bottom: 0px solid #1296DB;
}
.nav-item:hover{
    border-bottom-width: 5px;
    transition: 250ms all;
    font-size: 22px;
}
.all-points.selected{
    color: #D4237A;
    border-bottom: 5px solid #D4237A;
}
.route-recommend.selected{
    color: #F4EA2A;
    border-bottom: 5px solid #F4EA2A;
}
.print-map.selected{
   color: #1296DB;
   border-bottom: 5px solid #1296DB;
}

/* ----------------底部模块样式----------------*/
.item-box{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 150px;

    /* position: absolute; */
    opacity: 0;
    transition: 300ms all;
    display: none;

}
.item-box.selected{
    opacity: 1;
    transition: 500ms all;
    display: block;
    /* animation: changetab 0ms linear 300ms; */
}
/* @keyframes changetab {
    0% {
        display: none;
    }
    100% {
        display: none;
    }
} */

/*--------------footer部分样式------------------*/

footer {
    font-size: 1.5rem;
    width: 100%;
    position: fixed;
    bottom: -260px;
    color: white;
    padding: 4rem 5%;
    margin: 100px auto 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 200;
}
footer:hover{
    bottom: 0;
    transition: all 500ms;
}
.footer-title{
    /* position: absolute; */
    position: relative;
    top: -50px;
}
footer h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.5;
    text-align: left;
    letter-spacing: 0.1rem;
    font-weight: lighter;
}

footer div:nth-child(6)>a {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.4);
    line-height: 1.556;
}

footer a {
    display: block;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.302);
    line-height: 2;
    text-align: left;
}

footer a:link,
footer a:visited {
    text-decoration: none;
}

footer a:hover,
footer a:visited {
    text-decoration: underline;
}