
#form-box{
    padding: 10px 100px;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 50px;
    width: 100%;
    border-top: 1px solid #F4EA2A;
    z-index: 200;
}
#form{
    /*border-bottom:2px #00aeef dotted;*/
    /*background-color:#6f6f6f;*/
}
#form form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#form option{
    background: transparent;
}
#form p{
    color: white;
    display: inline-block;
    line-height: 40px;
     background: transparent;
}
#form span{
    font-size:20px;
    background: transparent;
}
#form select{
    display: inline-block;
    height: 25px;
    font-size: 20px;
    background: transparent;
    color: white;
    border-radius: 2px;
    border: none;
    color: #F4EA2A;
}
#hotel-input{
    display: inline-block;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    color: #F4EA2A;
    border: none;
    border-bottom: 1px solid white 
}
#creat-route{
    /* margin: 20px auto; */

    /* display: block; */
    /* width: 200px; */
    padding: 0 50px;
    height:40px;
    background-color: transparent;
    color: #F4EA2A;
    font-size: 20px;
    border: 1px solid gray;
    background: rgba(255,255,255,0.1);
    border-radius: 2px;
    
}
#creat-route:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    box-shadow:#222C3C 0px 0px 10px 0px;
    color: #F4EA2A;
}


/*地图显示样式*/
#result{
    margin: 52px 0;
    padding: 0 100px;
}
#text-route{
    /* background-color: rgba(255, 255, 255, 0.1); */
    color: white;
}
#text-route ul{
    margin: 50px 100px;
    padding: 25px 50px;
    border: 1px solid #F4EA2A;
    border-radius: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2)
}
#text-route li{
    list-style: none;
    /* border-bottom: 1px solid #00aeef; */
    font-size: 20px;
    line-height: 2;
}

#result > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}
.AmapResult{
    border: 2px solid #00aeef;
}
.Amap-text-route{
    width: 40%;
    height: 700px;
    overflow:scroll;
}
.Amap-map-route{
    width: 60%;
    height: 700px;
}

.AmapResultH{
    background-color: #F4EA2A;
    margin: 0;
    font-size: 20px;
    padding: 20px 2em;
    /* border-top: 20px #222C3C solid; */
    overflow-x: auto;
}